.panel-visible {
    display: inherit;
}

.panel-hidden {
    display: none !important;
}

/* ******************************AGREGANDO STYLES AL STEPS***************************************** */
.step_icon_selected {
    color: #ffbf00 !important;
}

span.step_icon_selected {
    color: black !important;
    font-weight: bold;
}

.step_footer {
    margin-top: 25px;
    margin-bottom: 10px;
    border-top: solid;
    border-top-color: rgba(128, 128, 128, 0.5);
    border-top-width: 1px;
    padding-top: 10px;
}

.btn_wizard_upload {
    margin-right: 5px;
}

.btn_upload_not_file {
    background-color: #91919f !important;
}

.btn_upload_file {
    background-color: #006393 !important;
}

#btn-step-next .dx-icon {
    float: right;
    padding-left: 10px;
}

#btn-step-next,
#btn-step-back {
    text-transform: uppercase;
    width: 120px;
    font-size: 11px;
    display: inline-table;
    padding: 3px 0px !important;
}

#btn-step-back.dx-state-disabled {
    background-color: #bfbfbf !important;
    color: white !important;
    border: 2px #bfbfbf solid !important;
    opacity: 1;
}

.MuiStepLabel-label {
    font-size: 1rem;
}

.MuiStepIcon-text {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.MuiStepIcon-root {
    color: #bfbfbf;
    display: block;
    font-size: 2rem;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #bfbfbf;
    font-size: 2rem;
}

.MuiStepConnector-line {
    border-color: black;
}


.classBackDisable {
    background-color: #bfbfbf !important;
    color: white !important;
    border: 2px #bfbfbf solid !important;
    opacity: .80;
    margin-right: 25px;
}

.classBack {
    border-radius: 5px !important;
    border: 2px solid #ffbf00 !important;
    background-color: #ffbf00 !important;
    color: #232323 !important;
    display: flex !important;
    margin-right: 25px;
}

.classBack:hover {
    border-radius: 5px !important;
    border: 2px solid #ffbf00 !important;
    background-color: #181818 !important;
    color: #ffbf00 !important;
}

.classNext {
    border-radius: 5px !important;
    border: 2px solid #ffbf00 !important;
    background-color: #ffbf00 !important;
    color: #232323 !important;
    display: flex !important;
}

.classNext:hover {
    border-radius: 5px !important;
    border: 2px solid #ffbf00 !important;
    background-color: #181818 !important;
    color: #ffbf00 !important;
}

.clsStepBackIcon {
    margin-top: 2px !important;
    padding-top: 4px !important;
    color: white;
}

.clsStepNextIcon {
    margin-top: 2px !important;
    padding-top: 4px !important;
    padding-left: 17px !important;
    color: white;
}




/* *********************************************************************** */