#itemshield {
    position: relative;
    float: right;
    width: 34px;
    height: 750px;
    background: white;
}
  .panel {
    position: relative;
    height: 0;
    overflow: hidden;
}

.panelcontainer {
    padding-bottom: 56.25%;
}

.panel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.panelClear{
    clear:both;
}

.iframe_Campamento{
    border:none;
}